*,
*:before,
*:after {
  box-sizing: border-box;
}
$breaker-height: 7em;

$black: #111111;
$lime: #01FF70;
$gray: #AAAAAA;
$dk-gray: #353535;
$silver: #DDDDDD;
$teal: #39CCCC;
$olive: #3D9970;
$purple: #B10DC9;
$blue: #0074D9;

$medium: 760px;

html,
body {
  height: 100%;
}

body {
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.bio {
  padding: 6vw;
  .bio-text {
    color: $black;
    line-height: 1.2em;
    margin-top: 0;
    font-size: 1.3em;
    font-weight: 200;
  }
  .first-phrase {
    font-weight: 400;
    font-size: 1.35em;
  }
}

.first-breaker {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: $breaker-height;
  .image-piece {
    height: $breaker-height;
    display: inline-block;
    position: absolute;
    right: 60px;
    transform: skew(4deg, 0deg);
  }
  .solid-piece {
    background: $dk-gray;
    display: inline-block;
    height: $breaker-height;
    overflow: visible;
    position: absolute;
    right: -25px;
    transform: skew(-18deg, 0deg);
    width: 9em;
  }
}

.my-name {
  color: $silver;
  font-size: 12vh;
  left: 11vh;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 30vh;
  white-space: nowrap;
  z-index: -1;
}

.timeline-blurb {
  color: #565555;
  font-size: 1.3em;
  font-weight: 200;
  padding-left: 30vw;
  p {
    border-bottom: 1px solid #BDBDBD;
  }
}

.timeline {
  .timeline-list {
    text-align: center;
    padding-left: 0
  }
  .timeline-item {
    .age {
      color: $silver;
      font-size: 2.5em;
      font-weight: 600;
      text-decoration: none;
      transition: color .25s;
      &:hover {
        color: #9E9E9E;
      }
    }
    &.focus {
      .timeline-content {
        display: block;
        opacity: 1;
        transition: opacity 3s;

      }
      .age {
        color: $gray;
      }
    }
    &.image-focus {
      .timeline-content {
        right: 0vw;
        width: 100vw;
      }
      .timeline-image {
        width: 100vw;
      }
      .desc {
        margin-left: 30vw;
      }
    }

  }
}


.timeline-content {
  display: none;
  opacity: 0;
  position: relative;
  right: -30vw;
  width: 70vw;
  transition: opacity 3s;
  .timeline-image {
    box-shadow: -1px 5px 23px -5px rgba(119, 119, 119, 0.97);
    filter: grayscale(.6);    
    opacity: .6;
    position: relative;
    transition: opacity .5s ease, filter .5s ease, width .5s ease;
    width: 70vw;
  }
  .desc {
    text-align: left;
    border-bottom: 1px solid #BDBDBD;
  }
  &:hover {
    .timeline-image {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

nav {
  background: rgba(53, 53, 53, 0.85);
  bottom: 8vh;
  content: '';
  height: 81px;
  left: -20px;
  overflow: visible;
  position: fixed;
  transform: skew(-17deg, 4deg);
  width: 280px;
  transition: background .25s;
  .nav-list {
    color: rgb(224, 224, 224);
    list-style: none;
    font-size: 2.3em;
    margin-top: 15px;
    transform: skew(17deg, -4deg);
    li {
      display: inline-block;
      margin-right: .6em;
    }
    a {
      color: #737373;
      transition: color .25s;
    }
    .top-nav {
      padding-top: .5em;
    }
    .nav-top:hover{
      color: $purple;
    }
    .nav-footer:hover{
      color: $olive;
    }
    .nav-blog:hover {
      color: $teal;
    }
  }
}

nav:hover {
  background: rgba(53, 53, 53, 1);
}

footer {
  overflow-x: hidden;
  position: relative;
  .top-slant-piece {
    background: $dk-gray;
    height: 7em;
    left: -2vh;
    overflow-x: hidden;
    position: relative;
    top: 4em;
    width: 125vw;
    -webkit-transform: rotate(-5deg);
  }
  .main-footer {
    background: $dk-gray;
    position: relative;
  }
  .footer-content {
    width: 100vw;
    .contact {
      .contact-header {
        color: $silver;
        font-size: 1.65em;
        padding: 0 0 .5em 0;
        text-align: center;
      }
      .icon-list {
        border-bottom: 1px solid $gray;
        list-style: none;
        margin: 0 auto;
        padding: 0 0 .5em 0;
        text-align: center;
        width: 60vw;
        li {
          display: inline-block;
          font-size: 2.5em;
          a {
            color: $gray;
            padding: .25em;
            padding-bottom: 0;
            transition: color .25s;
            &:hover {
              color:  $lime;
            }
          }
        }
      }
    }
    .final-footer {
      position: relative;
      bottom: 5px;
      color: $gray;
      p {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}

@media (min-width: $medium) {
  .first-breaker {
    height: $breaker-height + 4;
    .image-piece {
      height: $breaker-height + 4;
    }
    .solid-piece {
      height: $breaker-height + 4;
    }
  }
  .timeline .timeline-item.image-focus {
    .timeline-content {
      right: -30vw;
      width: 70vw;
    }
    .timeline-image {
      width: 50vw;
      right: 10vw;
    }
    .desc {
      margin-left: 0;
    }
  }
  .timeline-content {
    .timeline-image {
      width: 30vw;
      right: 20vw;
    }
  }
  footer .top-slant-piece {
    transform: rotate(-4deg);
  }
  footer .footer-content .contact .contact-header {
    padding: .5em 0 .5em 0;
  }
}