*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden; }

body {
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  -webkit-transition: background .3s;
          transition: background .3s; }

.bio {
  padding: 6vw;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform .5s;
          transition: transform .5s; }
  .bio .bio-text {
    color: #111111;
    line-height: 1.2em;
    margin-top: 0;
    font-size: 1.3em;
    font-weight: 200;
    -webkit-transition: color .3s;
            transition: color .3s; }
  .bio .first-phrase {
    font-weight: 400;
    font-size: 1.35em; }

.first-breaker {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 7em;
  left: 0;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: left .3s;
          transition: left .3s;
  -webkit-transition: -webkit-transform .7s 1s;
          transition: transform .7s 1s; }
  .first-breaker .image-piece {
    height: 7em;
    display: inline-block;
    position: absolute;
    right: 60px;
    -webkit-transform: skew(4deg, 0deg);
        -ms-transform: skew(4deg, 0deg);
            transform: skew(4deg, 0deg);
    -webkit-transition: right .5s;
            transition: right .5s; }
  .first-breaker .solid-piece {
    background: #353535;
    display: inline-block;
    height: 7em;
    overflow: visible;
    position: absolute;
    right: -25px;
    -webkit-transform: skew(-18deg, 0deg);
        -ms-transform: skew(-18deg, 0deg);
            transform: skew(-18deg, 0deg);
    width: 9em;
    -webkit-transition: all .3s;
            transition: all .3s; }
  .first-breaker .first-breaker-link:hover .solid-piece {
    background: #404040;
    box-shadow: -5px 0 23px 1px rgba(119, 119, 119, 0.97); }
  .first-breaker:active {
    left: 11vw; }
    .first-breaker:active .image-piece {
      right: 0px; }

.my-name {
  color: #DDDDDD;
  font-size: 12vh;
  left: 11vh;
  margin: 0;
  padding: 0;
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  top: 30vh;
  white-space: nowrap;
  z-index: -1;
  -webkit-transition: left .7s .3s;
          transition: left .7s .3s; }

.timeline-blurb {
  color: #565555;
  font-size: 1.3em;
  font-weight: 200;
  padding-left: 30vw;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform .5s 1s;
          transition: transform .5s 1s; }
  .timeline-blurb p {
    border-bottom: 1px solid #BDBDBD; }

.timeline {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 1.2s;
          transition: transform 1.2s; }
  .timeline .timeline-list {
    text-align: center;
    padding-left: 0;
    list-style: none; }
  .timeline .timeline-item .age {
    color: #DDDDDD;
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: color .25s;
            transition: color .25s; }
    .timeline .timeline-item .age:hover {
      color: #9E9E9E; }
  .timeline .timeline-item.focus .timeline-content {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 3s;
            transition: opacity 3s; }
  .timeline .timeline-item.focus .age {
    color: #AAAAAA; }
  .timeline .timeline-item.image-focus .timeline-content {
    right: 0vw;
    width: 100vw; }
  .timeline .timeline-item.image-focus .timeline-image {
    width: 100vw; }
  .timeline .timeline-item.image-focus .desc {
    margin-left: 30vw; }
  .timeline .timeline-item.image-focus .timeline-image-container:after {
    opacity: 0; }

.timeline-content {
  display: none;
  opacity: 0;
  position: relative;
  right: -30vw;
  width: 70vw;
  -webkit-transition: opacity 3s;
          transition: opacity 3s; }
  .timeline-content .timeline-image {
    box-shadow: -1px 5px 23px -5px rgba(119, 119, 119, 0.97);
    -webkit-filter: grayscale(0.6);
            filter: grayscale(0.6);
    opacity: .6;
    position: relative;
    -webkit-transition: opacity .5s ease, -webkit-filter .5s ease, width .5s ease, opacity .5s ease, filter .5s ease, width .5s ease;
            transition: opacity .5s ease, filter .5s ease, width .5s ease;
    width: 70vw; }
  .timeline-content .timeline-image-container:after {
    color: #DDDDDD;
    content: 'Click to focus';
    font-size: 1.5em;
    font-weight: 600;
    height: 1.5em;
    left: 0;
    line-height: 1.5em;
    opacity: 1;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    -webkit-transition: opacity .1s .3s;
            transition: opacity .1s .3s; }
  .timeline-content .desc {
    text-align: left;
    border-bottom: 1px solid #BDBDBD; }
  .timeline-content:hover .timeline-image {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1; }

nav {
  background: rgba(53, 53, 53, 0.85);
  bottom: 8vh;
  content: '';
  height: 81px;
  left: -20px;
  overflow: visible;
  position: fixed;
  -webkit-transform: skew(-17deg, 4deg);
      -ms-transform: skew(-17deg, 4deg);
          transform: skew(-17deg, 4deg);
  width: 110px;
  -webkit-transition: background .25s;
          transition: background .25s; }
  nav .nav-list {
    color: #e0e0e0;
    list-style: none;
    font-size: 2.3em;
    margin-top: 20px;
    -webkit-transform: skew(17deg, -4deg);
        -ms-transform: skew(17deg, -4deg);
            transform: skew(17deg, -4deg); }
    nav .nav-list li {
      display: inline-block;
      margin-right: .6em; }
    nav .nav-list a {
      color: #39CCCC;
      -webkit-transition: opacity .25s;
              transition: opacity .25s;
      opacity: .6;
      padding: .25em;
      -webkit-transition: color .3s;
              transition: color .3s; }
    nav .nav-list .top-nav {
      padding-top: .5em; }
    nav .nav-list a:hover {
      opacity: 1; }

nav:hover {
  background: #353535; }

footer {
  opacity: 1;
  -webkit-transition: opacity .7s .3s;
          transition: opacity .7s .3s;
  overflow-x: hidden;
  position: relative; }
  footer .top-slant-piece {
    background: #353535;
    height: 7em;
    left: -2vh;
    overflow-x: hidden;
    position: relative;
    top: 4em;
    width: 125vw;
    -webkit-transform: rotate(-5deg); }
  footer .main-footer {
    background: #353535;
    position: relative; }
  footer .footer-content {
    width: 100vw; }
    footer .footer-content .contact .contact-header {
      color: #DDDDDD;
      font-size: 1.65em;
      padding: 0 0 .5em 0;
      text-align: center; }
    footer .footer-content .contact .icon-list {
      border-bottom: 1px solid #AAAAAA;
      list-style: none;
      margin: 0 auto;
      padding: 0 0 .5em 0;
      text-align: center;
      width: 60vw; }
      footer .footer-content .contact .icon-list li {
        display: inline-block;
        font-size: 2.5em; }
        footer .footer-content .contact .icon-list li a {
          color: #AAAAAA;
          padding: .25em;
          padding-bottom: 0;
          -webkit-transition: color .25s;
                  transition: color .25s; }
          footer .footer-content .contact .icon-list li a:hover {
            color: #01FF70; }
    footer .footer-content .final-footer {
      position: relative;
      bottom: 5px;
      color: #AAAAAA; }
      footer .footer-content .final-footer p {
        margin-bottom: 0;
        text-align: center; }

@media (min-width: 760px) {
  .first-breaker {
    height: 11em; }
    .first-breaker .image-piece {
      height: 11em; }
    .first-breaker .solid-piece {
      height: 11em; }
  .timeline .timeline-item.image-focus .timeline-content {
    right: -30vw;
    width: 70vw; }
  .timeline .timeline-item.image-focus .timeline-image {
    width: 50vw;
    right: 10vw; }
  .timeline .timeline-item.image-focus .desc {
    margin-left: 0; }
  .timeline-content .timeline-image {
    width: 30vw;
    right: 20vw; }
  .timeline-content .timeline-image-container:hover:after {
    width: 30vw; }
  footer .top-slant-piece {
    -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
            transform: rotate(-4deg); }
  footer .footer-content .contact .contact-header {
    padding: .5em 0 .5em 0; } }

body.dark {
  background: #111111; }
  body.dark .bio-text {
    color: #DDDDDD; }
  body.dark nav .nav-list a {
    color: #B10DC9; }
  body.dark .timeline-content .desc {
    color: #DDDDDD;
    border-color: #353535; }

.entry-animation.animate .bio {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }
.entry-animation.animate .my-name {
  left: 0vh; }
.entry-animation.animate .timeline {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
.entry-animation.animate .timeline-blurb {
  -webkit-transform: translateX(75%);
      -ms-transform: translateX(75%);
          transform: translateX(75%); }
.entry-animation.animate .first-breaker {
  -webkit-transform: translateX(75%);
      -ms-transform: translateX(75%);
          transform: translateX(75%); }
.entry-animation.animate footer {
  opacity: 0; }
