*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0; }

.bio {
  padding: 6vw; }
  .bio .bio-text {
    color: #1d1d1d;
    line-height: 1.2em;
    margin-top: 0;
    font-size: 1.3em;
    font-weight: 200; }
  .bio .first-phrase {
    font-weight: 400;
    font-size: 1.35em; }

.first-breaker {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  height: 22vh; }
  .first-breaker .image-piece {
    height: 22vh;
    display: inline-block;
    position: absolute;
    right: 60px;
    transform: skew(4deg, 0deg); }
  .first-breaker .solid-piece {
    background: #353535;
    display: inline-block;
    height: 22vh;
    overflow: visible;
    position: absolute;
    right: -25px;
    transform: skew(-18deg, 0deg);
    width: 150px; }

.my-name {
  color: #c5c5c5;
  font-size: 12vh;
  left: 11vh;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top;
  top: 30vh;
  white-space: nowrap;
  z-index: -1; }

.timeline-blurb {
  color: #565555;
  font-size: 1.3em;
  font-weight: 200;
  padding-left: 30vw; }
  .timeline-blurb p {
    border-bottom: 1px solid #BDBDBD; }

.timeline .timeline-list {
  text-align: center;
  padding-left: 0; }
.timeline .timeline-item .age {
  font-size: 2.5em;
  font-weight: 600;
  color: #dbdbdb; }
  .timeline .timeline-item .age:hover, .timeline .timeline-item .age.focus {
    color: #9E9E9E; }
.timeline .timeline-item.focus .timeline-content {
  display: block; }

.timeline-content {
  display: none;
  position: relative;
  right: -30vw;
  width: 70vw; }
  .timeline-content img {
    width: 70vw; }
  .timeline-content .desc {
    text-align: left;
    border-bottom: 1px solid #BDBDBD; }

nav {
  background: #353535;
  bottom: 8vh;
  content: '';
  height: 81px;
  left: -20px;
  overflow: visible;
  position: fixed;
  transform: skew(-17deg, 4deg);
  width: 280px; }
  nav .nav-list {
    color: #e0e0e0;
    list-style: none;
    font-size: 2.3em;
    margin-top: 15px;
    transform: skew(17deg, -4deg); }
    nav .nav-list li {
      display: inline-block;
      margin-right: .6em; }
    nav .nav-list a {
      color: #737373; }
    nav .nav-list a:first-child {
      padding-top: .5em; }
    nav .nav-list a:hover {
      color: #FFFFFF; }

footer {
  overflow-x: hidden;
  position: relative; }
  footer .top-slant-piece {
    background: #1D1D1D;
    height: 12vh;
    left: -2vh;
    overflow-x: hidden;
    position: relative;
    top: 35px;
    width: 125vw;
    -webkit-transform: rotate(-5deg); }
  footer .main-footer {
    background: #1D1D1D;
    position: relative; }
  footer .footer-content {
    width: 100vw; }
    footer .footer-content .contact .contact-header {
      color: #494949;
      font-size: 1.65em;
      padding-bottom: .5em;
      text-align: center; }
    footer .footer-content .contact .icon-list {
      border-bottom: 1px solid #252525;
      list-style: none;
      margin: 0 auto;
      padding: 0 0 .5em 0;
      text-align: center;
      width: 60vw; }
      footer .footer-content .contact .icon-list li {
        display: inline-block;
        font-size: 2.5em; }
        footer .footer-content .contact .icon-list li a {
          padding: .25em;
          padding-bottom: 0; }
          footer .footer-content .contact .icon-list li a:hover {
            color: #01FF70; }
    footer .footer-content .final-footer {
      position: relative;
      bottom: 5px; }
      footer .footer-content .final-footer p {
        margin-bottom: 0;
        text-align: center; }
